html {
    font-size: calc(15px + 0.390625vw);
}

body {
    padding-top: 57px;
    background-image: url("../img/header_img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

.content {
    background-color: rgba(0, 0, 0, 65%);
    padding-top: 50px;
    padding-bottom: 50px;
}

.text {
    color: whitesmoke;
}

h1 {
    font-variant: small-caps;
    font-weight: 500;
    padding: 25px;
    text-align: center;
}

p {
    padding-bottom: 25px;
    text-align: center;
}

.row {
    margin: 2%;
}

.initial {
    opacity: 0;
}

#Home {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#img1 {
    width: inherit;
    position: relative;
    
    animation: fadeInAnimation ease 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

#img2 {
    width: inherit;
    position: relative;

    animation: fadeInAnimation ease 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#img3 {
    width: inherit;
    position: relative;

    animation: fadeInAnimation ease 1s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

img {
    transition: transform 0.8s;
}

.img1:hover {
    position: relative;
    transform: scale(1.2);
    z-index: 10;
}

.img2:hover {
    position: relative;
    transform: scale(1.2);
    z-index: 10;
}

.img3:hover {
    position: relative;
    transform: scale(1.2);
    z-index: 10;
}

.delay {
    animation: fadeInAnimation ease 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

form {
    margin-left: 5%;
    margin-right: 5%;

}

.form-label {
    padding-top: 15px;
    color: whitesmoke;
}

footer {
    padding-top: 50px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}