html {
    font-family: "Playfair Display", 'Times New Roman', Times, serif; 
}

body {
    background-color: black;
}

.navbar-brand {
    font-variant: small-caps;
    font-size: 2.5vw;
    text-align: center;
}

.card-title {
    font-size: 4vw;
    text-align: center;
}

.card-img-overlay {
    background: rgba(0, 0, 0, .375);
}

.card-text {
    font-size: 2vw;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

h1 {
    font-size: 4vw;
    font-variant: small-caps;
    text-align: Center;
    color: ivory;
}

.form-label {
    font-size: 2vw;
    color: whitesmoke;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footerText {
    text-align: center;
    color: whitesmoke;
}